* {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}


.navbar {
  color: white;
  width: 100%;
  position: fixed;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.profile-photo {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile-photo img {
  padding: 6px;
  height: 2.2rem;
  border-radius: 50%; 
}

.navbar-item a {
  /* display: inline-block; */
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  text-decoration: none;
  color: #B9B7B7;
  font-size: 20px;
  font-weight: lighter;
}

.landing {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.landing-background {
  height: 100%;
  width: 100%;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  display: flex;
  align-items: center;
}

.landing-main {
  color: white;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.landing-main img {
  height: 45%;
  border-radius: 50%;

}

.landing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutz {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: gr;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-main {
  margin-top: 25%;
  /* background-color: peachpuff; */
  /* width: 100%; */
  height: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.about-background {
  height: 100%;
  width: 100%;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  display: flex;
  align-items: center;
}

.about-main h1 {
  text-align: left;
  margin-bottom: 20px; 
}

.about-main h4 {
  text-align: left;

}

.projects {
  color: white;
  background-color: white;
  height: 100vh; 

}

.projects-content {
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

.projects-background {
  background-color: black;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  display: flex;
  align-items: flex-start;
}

.projects-content {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  width: 75%;
  height: 85%;
  /* background-color: pink; */
}

.projects-content h1 {
  height: 10%;
  /* background-color: salmon;  */
}


.projects-list {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: orangered; */
}

.project-item {
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* background-color: gray; */
  /* border: 1px solid slateblue; */
  /* background-color: lightblue;  */
}

.project-item img {
  width: 300px;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.button-container {
  width: 300px;
  height: 10%;
  display:flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
}

.button-container button {
  width: 70px;
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 0px;
}
